<section id="blog-section">
    <h1> Here are some Interesting Blog posts !</h1>
    <hr class="line-divider"> 
    <div class="article-container">
    <article class="blog-post"> <!-- First blog post -->
        <h2>Modern Research Trends within Technology Management in the Light of Selected Publications</h2>
        <p>Published on <span class="publish-date">April 18, 2017</span> by <span class="author">Alicja E. Gudanowska</span></p>
        <p>The author of this article highlights the exploration for contemporary research trends within technology management. Thereby, this paper primarily focuses on investigating research areas and issues connected with technology management in contemporary scientific publications selected from the Web of Science database.</p>
        <a href="https://www.sciencedirect.com/science/article/pii/S1877705817313218">Read more</a>
    </article>
    <article class="blog-post"> <!-- Second blog post -->
        <h2>International Journal of Technology Management</h2>
        <p>Published on <span class="publish-date">January 10, 2023</span> by <span class="author">Dr. M.A. Dorgham</span></p>
        <p>IJTM aims to provide a refereed and authoritative source of information in the field of managing with technology, and the management of engineering, science, and technology. It seeks to establish channels of communication between government departments, technology executives in industry, commerce, and related business, and academic experts in the field.</p>
        <a href="https://www.inderscience.com/jhome.php?jcode=IJTM">Read more</a>
    </article>
    </div>
</section>