<section id="about-section">
<h1> About </h1>
<hr class="line-divider"> <!-- Horizontal line for separation -->

<div class="Header">
	<h2> "Crafting Technology Solutions, One Code at a Time: A Tech Manager's Journey of Innovation and Impact."</h2>
	<p>
	  I am a second-year tech management student at OntarioTech University, passionate about exploring the dynamic intersection of technology and business. With a thirst for knowledge and a drive to innovate, I thrive in the fast-paced world of technology management. My academic journey has equipped me with a strong foundation in both technical and managerial skills, and I'm excited to continue honing my expertise in this ever-evolving field. Beyond the classroom, I enjoy staying up-to-date with the latest tech trends, collaborating on projects, and envisioning solutions that can shape the future of tech-driven industries.
	</p>
</div>

<div class="video-container">
  <h3>Below is a short video about success, enjoy!</h3>
  <video width="800" height="240" controls>
    <source src="/videos/video.mp4" type="video/mp4"> <!-- Video source file -->
    Your browser does not support the video tag. <!-- Fallback message if the browser doesn't support the video type -->
  </video>
</div>
</section>