<footer>
	<img src="images/my_image.jpg" id="icon2">
	<p>Hey, it's your girl Betty Sitotaw, Peace!</p> <!-- Footer content -->
	<p>&copy; 2023 Betty Sitotaw. All rights reserved.</p> <!-- Copyright information -->
	<div class="icon-container">
	<a href="https://github.com/heremela12/Portfolio_EJS">
		<i class="fab fa-github"></i>
	</a>
	<a href="https://www.linkedin.com/in/heremela-sitotaw-955a55294/">
		<i class="fab fa-linkedin"></i>
	</a>
	</div>
</footer>