<header>
    <ul class= "navbar">
        <li><a  href="#blog-section">Blogs</a></li> <!-- Navigation link to Blogs page -->
        <li><a  href="#projects-section">Projects</a></li> <!-- Navigation link to Projects page -->
        <li><a  href="#contact-section">Contact</a></li> <!-- Navigation link to Contact page -->
        <li><a  href="#home-section">Home</a></li> <!-- Navigation link to Home page -->
        <li><a  href="#about-section"><img src="/images/my_image.jpg" id="icon"></a></li> <!-- Navigation link to the current About page with an image -->
    </ul>
</header>

