<section id="home-section">
<div class="home-container">
    <img src="images/cartoon.jpg " id="cartoon_img"> <!-- Image in the content section -->
        <div class="home-text-container">
            <h1>WELCOME</h1> <!-- Page heading -->
            <p>Hey, My Name is Betty Sitotaw, I am an aspiring Tech Management Student. Welcome to my portfolio website, as you explore through it you will discover more about myself and the work I have done. Feel free to contact me for more inquiries!</p> <!-- Introduction paragraph -->
        </div>
    </div>
</section>