<section id="projects-section">
<h1>Projects</h1> <!-- Page heading -->
<hr class="line-divider"> <!-- Horizontal line for separation -->
<p>- Below you will find a List of the projects I have done in my past academic year !</p> <!-- Introductory text -->
<div class="project-container">
<ul> <!-- List of projects -->
	<li>
		<h2> Playfair Cipher</h2> <!-- Project title -->
		<p>The Playfair cipher is a classic symmetric encryption algorithm that was used for encrypting and decrypting messages. It's a substitution cipher that operates on pairs of letters (digraphs), making it more secure than simple substitution ciphers.</p> <!-- Project description -->
	</li>
	<li>
		<h2> “Guess-the-letters” game </h2> <!-- Project title -->
		<p>The "Guess-the-Letters" game is a word puzzle game designed to challenge players to guess a hidden word one letter at a time. The main objective of the game is for the player to correctly guess a hidden word. The player is provided with a word, but most of its letters are hidden, represented by underscores. The player's task is to guess individual letters in the word until they either guess the entire word correctly or run out of allowed attempts.</p> <!-- Project description -->
	</li>
	<li>
		<h2> Mortgage Stress Test Calculator </h2> <!-- Project title -->
		<p>A Mortgage Stress Test Calculator is a financial tool used to assess whether a borrower can afford their mortgage payments under various financial scenarios, including potential increases in interest rates. It is often used by lenders and borrowers to evaluate the borrower's ability to manage their mortgage in different economic conditions.</p> <!-- Project description -->
	</li>
</ul>
</div>
</section>